div.stats-wrapper {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stats-box {
  background: rgba(252, 252, 252, 0.9);
  border-radius: 40px;
  padding: 30px 40px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-content {
  height: 100%;
  width: 100%
}

.stats-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #8DCAB8;
  padding-bottom: 14px;
}

.stats-header .local {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stats-header .local h1 {
  font-size: clamp(30px, 3.5vh, 36px);
  margin-left: 12px;
  font-family: 'Montserrat', sans-serif;
}

.stats-header .local .local-flag {
  height: 40px;
  border-radius: 12px;
}

.stats-header .back-icon .back{
  display: none;
}

.stats-stats {
  border-bottom: 1px solid #8DCAB8;
}

.stats-stats .info{
  color: #000;
  font-size: clamp(22px, 30vh, 26px);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0;
}

.stats-stats .icon {
  height: 36px;
  font-size: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.stats-stats .virus-icon {
  color: #2d6187;
}

.stats-stats .alert-icon {
  color: #cf1b1b;
}

.stats-stats .refuse-icon {
  color: #03c4a1;
}

.stats-stats .death-icon {
  color: #1a1c20;
}

.second-stats {
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  padding-top: 30px;
}

.stats-header .local h1 {
  font-size: 24px;
}

.stats-header .local .local-flag {
  height: 40px;
  border-radius: 12px;
}

.stats-stats .info {
  font-size: 18px;
}

.second-stats {
  font-size: 16px;
}

div#map-box svg{
  display: flex;
  width: 95%;
}

@media(max-width: 1050px) and (min-width: 820px) {

  div.stats-wrapper {
    max-width: 100%;
  }

  .stats-header .local h1 {
    font-size: 24px;
  }

  .stats-header .local .local-flag {
    height: 40px;
    border-radius: 12px;
  }

  .stats-stats .info {
    font-size: 18px;
  }

  .second-stats {
    font-size: 16px;
  }

  div#map-box svg{
    display: flex;
    width: 95%;
  }
}

@media (max-width: 820px) {
  div.stats-wrapper {
    display:flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .stats-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8DCAB8;
    padding-bottom: 14px;
  }

  .stats-header .back-icon .back{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    height: 46px;
    width: 46px;
    font-size: 24px;
    background-color: #2d6187;
    border-radius: 12px;

    transition: background-color 0.2s;
  }
  
  .stats-header .back-icon .back a:hover {
    background-color: #0f3e5f;
  }

  .stats-header .local .local-flag {
    max-height: 40px;
    border-radius: 12px;
  }

  .stats-header .local h1 {
    margin-left: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px
  }

  .stats-stats .info{
    color: #000;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0;
    text-align: center;
  }
  
  .stats-stats .icon {
    height: 36px;
    font-size: 36px;
    margin-bottom: 16px;
  }

  .second-stats {
    font-size: px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    line-height: 32px;
    text-align: center;
  }
}