* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  background: #a6f6f1 no-repeat fixed 100% 100%;
  scroll-behavior: smooth;
}